.feedback {
  width: 100%;
  margin-bottom: 6rem;

  h2 {
    text-align: center;
    margin: 1rem 0 3rem 0;
    width: 100%;
  }

  .feedback__button {
    background-color: transparent;
    border: none;
    color: var(--tds-color-link);
    padding: 0;
    margin: 2rem 0 -3rem 0;
    font-size: 15px;
  }

  .feedback__container {
    @extend %default-container;
    padding: 5px 78px;
  }

  .feedback__card {
    height: 260px;
    margin-bottom: 36px;
    background-color: #f5f5f6;
    width: 100%;

    a {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 100%;
    }
  }

  .feedback__card__description {
    padding: 0 2rem 2rem 2rem;
    height: 80%;
    flex-wrap: wrap;
    display: flex;
    align-content: space-between;
  }
}

