footer {
  width: 100%;
  background: #f5f5f6 url("https://www.cdn-tinkoff.ru/frontend-libraries/footer/1.12.1/0df489f39c6378b387c0c6da575fcc84.svg") center/303px 242px no-repeat;
  background-size: 30%;

  .footer__first-line {
    background-color: #fff;
    width: 100%;
    border-top: 2px solid #f5f5f6;
    padding-bottom: 5px;
    height: 86px;
    min-width: 1000px;
  }

  .footer__first-line1,
  .footer__first-line2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;

    width: 100%;
    max-width: 1256px;
    margin: auto;
    padding: 5px 78px;
  }

  .footer__first-line1 {
    margin-top: 1rem;
    margin-bottom: -5px;

    h3 {
      margin: 0;
    }
  }

  .footer__first-line2 {
    font-size: 13px;

    a {
      color: var(--tds-color-link) !important;
    }

    div {
      width: 80%;
      display: flex;
      justify-content: space-between;
    }

    p {
      color: #999999;
      font-size: 13px;
    }
  }


  .footer__second-line {
    @extend %default-container;
    padding: 5px 78px;
    margin-top: 1rem;

    h3 {
      margin: 0;
      color: var(--tds-color-text-03);
      font-size: 15px;
      margin-bottom: 5px;
    }

    p {
      color: #999999;
      font-size: 13px;
      margin-bottom: 4px;
      cursor: pointer;
    }
  }

  .footer__second-line__useless-lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.3s;

    p:hover,
    h3:hover {
      color: var(--tds-color-text-01);
    }
  }

  .footer__second-line__description {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-direction: column;

    a {
      color: var(--tds-color-link);
    }
  }

  .footer__contact-info {
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer__contact-info__grid {
    display: flex;
    justify-content: space-between;
    width: 370px;
    vertical-align: middle;

    span {
      color: var(--tds-color-text-03);
    }

    span:last-child {
      margin-left: 1rem;
      width: 4.2rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}



