header {
  width: 100%;
  box-shadow: 0 4px 56px rgba(0, 0, 0, 0.12);
  position: relative;

  .header__container {
    width: 100%;
    padding: 0 48px;
    max-width: 1200px;
    margin: auto;
    min-width: 1020px;
  }

  .header__first-line,
  .header__second-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
  }

  .header__first-line {
    border-bottom: 1px solid var(--tds-color-base-04);

    .dots-dropdown-content {
      height: 82px!important;

      a {
        margin-top: -1.9rem;
        background-color: transparent;
      }

      a:last-child {
        margin-top: -20px;
      }
    }
  }

  .header__first-line__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    img {
      margin-right: 3rem;
      margin-top: 4px;
    }
  }

  .header__tabs,
  .header__tabs a {
    display: flex;
    align-items: center;
    height: 97%;
    background-color: #fff;
  }

  .header__tabs a:first-child {
    color: var(--tds-color-text-01);
  }

  .header__tabs a {
    margin-right: 26px;
    transition: 0.3s;
    color: var(--tds-color-text-02);
  }

  .dropdown:hover,
  .header__tabs a:hover {
    color: var(--tds-color-text-01);
    box-shadow: 0 3px 0 0 var(--tds-color-base-04);

    .dropdown-content {
      top: 4rem;
    }
  }

  .header__login {
    display: flex;
    align-items: center;
    color: var(--tds-color-link);
    transition: 0.3s;

    span {
      margin-right: 0.5rem;
    }

    &:visited {
      color: var(--tds-color-link) !important;
    }

    &:hover {
      color: var(--tds-color-text-01);
    }
  }

  .header__active-tab {
    box-shadow: 0 3px 0 0 var(--tds-color-text-01);
  }

  .dropdown {
    position: relative;
    margin-right: 26px;
    color: var(--tds-color-text-02);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1;
    top: 4.5rem;
    left: 0;
    background-color: #fff;
    border: 1px solid var(--tds-color-base-04);
    padding: 14px;
    width: 9rem;
    transition: 0.4s;

    a {
      color: black;
      text-decoration: none;
      display: block;
      width: 100%;
    }

    a:first-child {
      margin-bottom: 12px;
    }
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .nav-under-dots {
    div {
      display: none;
    }
  }





  .dots-dropdown {
    position: relative;
    color: var(--tds-color-text-02);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
  }

  .dots-dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1;
    top: 3rem;
    right: 1rem;
    background-color: #fff;
    border: 1px solid var(--tds-color-base-04);
    padding: 14px;
    width: 7rem;
    transition: 0.4s;

    a {
      text-decoration: none;
      display: block;
      margin-top: -12px;
    }

    a:first-child {
      margin-bottom: 12px;
    }
  }
}

@media (max-width: 1100px) {
  .nav-under-dots {
    box-shadow: none!important;
    margin-left: -14px;

    svg {
      width: 24px;
      color: #999999;
    }

    span {
      display: none;
    }
  }

  .dots-dropdown:hover .dots-dropdown-content {
    display: block;
  }

  .hide-and-seek {
    display: none!important;
  }
}

