@import "header.scss";
@import "intro.scss";
@import "recommendations.scss";
@import "interesting.scss";
@import "trust.scss";
@import "services.scss";
@import "feedback.scss";
@import "footer.scss";

@font-face {
  font-family: "Tinkoff";
  src: url(https://www.cdn-tinkoff.ru/platform/fonts/TinkoffSans/v1/TinkoffSans.woff2) format("truetype");
}

@font-face {
  font-family: "Tinkoff-p";
  src: url(https://www.cdn-tinkoff.ru/platform/fonts/haas/v6/NeueHaasUnicaW1G-Regular.woff2) format("truetype");
}

%default-container {
  width: 100%;
  max-width: 1256px;
  margin: auto;
  min-width: 1000px;
}

:root {
  --tds-color-link: #336fee;
  --tds-color-link-hover: #1f50ba;
  --tds-color-warning-bg: rgba(250, 182, 25, .12);
  --tds-color-base-04: #dddfe0;
  --tds-color-base-01: #fff;
  --tds-color-text-03: rgba(0, 0, 0, .4);
  --tds-color-base-02: #f6f7f8;
  --tds-color-text-01: rgba(0, 0, 0, .8);
  --tds-color-text-02: rgba(0, 0, 0, .54);
  --tds-color-base-03: #eaecee;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 13px/18px "Tinkoff-p", haas, pragmatica, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Arial, sans-serif;
  color: var(--tds-color-text-01);
}

a {
  text-decoration: none;
  color: var(--tds-color-text-01);

  &:visited {
    color: inherit;
  }
}

p {
  color: var(--tds-color-text-01);
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  font-weight: 200;
}

h1 {
  line-height: 48px;
  font-size: 44px;
}

h2 {
  font-size: 36px;
  line-height: 40px;
  margin: 48px 0 32px 0;
}

h3 {
  font-size: 24px;
  line-height: 28px;
}

h1, h2, h3 {
  font-family: "Tinkoff", haas, pragmatica, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 400;
}

button {
  cursor: pointer;
}

.h-flex {
  width: 100%;
  display: flex;
}