.interesting {
  width: 100%;

  h3 {
    margin-top: 0;
  }

  .interesting__button {
    background-color: transparent;
    border: none;
    color: var(--tds-color-link);
    padding: 0;
    font-size: 15px;
  }

  a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .interesting__container {
    @extend %default-container;
    padding: 5px 78px;
  }

  .interesting__grid {
    margin-top: 3.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .interesting__card {
    flex: 0 0 48%;
    height: 260px;
    margin-bottom: 36px;
    background-color: #f5f5f6;
  }

  .interesting__card__description {
    padding: 2rem 0 2rem 2rem;
    flex-wrap: wrap;
    display: flex;
    align-content: space-between;
  }
}




