.intro {
  cursor: pointer;
  background-color: var(--tds-color-base-02);


  .intro__container {
    width: 100%;
    height: 100%;
    margin: auto;
    max-width: 1256px;
    padding: 56px 78px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: no-repeat url("../static/images/intro.png") 0 0 var(--tds-color-base-02);
    background-position: left 90% bottom;
    background-size: 32rem 27rem;
    min-width: 1000px;

    img {
      width: 40rem;
    }
  }

  .intro__description {
    display: flex;
    flex-direction: column;
    height: 310px;
    width: 22rem;

    h1 {
      margin-top: 0;
    }

    p {
      margin: 0;
      margin-top: -7px;
    }
  }

  .intro__img {
    width: 100%;
  }

  .intro__button {
    background-color: #ffdd2d;
    border: none;
    border-radius: 4px;
    width: 187px;
    height: 57px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;

    &:hover,
    &:focus,
    &:active {
      background-color: #FCC521;
    }
  }
}







