.recommendations {
  width: 100%;

  h2 {
    margin: 64px 0 0 0;
    transition: 0.3s;
  }

  a {
    transition: 0.3s;

    &:hover {
      color: var(--tds-color-link);
    }
  }

  .recommendations__button {
    color: var(--tds-color-link);
    background-color: #ecf1f7;
    border: none;
    border-radius: 4px;
    padding: 12px 24px 9px 24px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    transition: 0.3s;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      background-color: #E4EBF3;
    }
  }

  .recommendations__container {
    @extend %default-container;
    padding: 0 78px;
  }

  .recommendations__grid {
    margin-top: 3.2rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
  }

  .recommendations__card {
    flex: 0 0 33%;
    max-width: calc(31% - 6px);
    height: 446px;
    margin-bottom: 56px;

    p {
      margin: 0;
      margin-top: -10px;
    }

    a {
      height: 100%;
      margin-bottom: 56px;
      flex-wrap: wrap;
      display: flex;
      align-content: space-between;
    }

    img {
      position: relative;
      width: 100%;
    }
  }
}
