.services {
  background-color: #f5f5f6;
  width: 100%;
  margin-top: 1.5rem;

  h2 {
    margin: 2.5rem 0 1.5rem 0;
  }

  .services__container {
    @extend %default-container;
    padding: 5px 78px;
  }

  .services__bottom-card,
  .services__grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0;
  }

  .services__bottom-card,
  .services__card {
    background-color: var(--tds-color-base-01);
    width: 48%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-top: 16px;
    transition: 0.4s;
    position: relative;

    &:hover {
      box-shadow: 0 4px 56px rgba(0, 0, 0, 0.12);
      transform: translateY(-4px);
    }
  }

  .services__card__description {
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }

  button {
    background-color: transparent;
    border: none;
    color: var(--tds-color-link);
    padding: 0;
    text-align: left;
    margin-top: 2rem;
  }

  .services__bottom-card {
    width: 100%;
    background-image: url("https://acdn.tinkoff.ru/static/pages/files/ef08c8b1-db21-466c-8ffd-4f2f68805d32.webp");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 34rem 17rem;
    margin-bottom: 56px;

    img {
      width: 30%;
    }
  }
}
