.trust {
  width: 100%;
  margin-top: -42px;

  h2 {
    margin: 64px 0 32px 0;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 16px;
  }

  .trust__container {
    @extend %default-container;
    padding: 20px 78px;
    margin-top: -56px;
  }

  .trust__grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0;
  }

  .trust__card {
    width: 48%;
    background-color: #f5f5f6;
  }

  .trust__card__img {
    background-color: #959ba4;
    height: 260px;
    display: flex;
    justify-content: center;

    img {
      background-color: #959ba4;
      height: 260px;
    }
  }

  .trust__card__description {
    padding: 2rem;
    height: 50%;
    flex-wrap: wrap;
    display: flex;
    align-content: space-between;
  }

  .trust__button {
    color: var(--tds-color-link);
    background-color: transparent;
    border: 1px solid var(--tds-color-link);
    border-radius: 4px;
    padding: 10px 24px 8px 24px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    transition: 0.3s;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      border-color: var(--tds-color-link-hover);
    }
  }
}
